/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensans/opensans-light-webfont.eot');
  src: url('../fonts/opensans/opensans-light-webfont.eot') format('embedded-opentype'),
        url('../fonts/opensans/opensans-light-webfont.woff') format('woff'),
        url('../fonts/opensans/opensans-light-webfont.ttf') format('truetype'),
        url('../fonts/opensans/opensans-light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensans/opensans-bold-webfont.eot');
  src: url('../fonts/opensans/opensans-bold-webfont.eot') format('embedded-opentype'),
        url('../fonts/opensans/opensans-bold-webfont.woff') format('woff'),
        url('../fonts/opensans/opensans-bold-webfont.ttf') format('truetype'),
        url('../fonts/opensans/opensans-bold-webfont.svg') format('svg');
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensans/opensans-lightitalic-webfont.eot');
  src: url('../fonts/opensans/opensans-lightitalic-webfont.eot') format('embedded-opentype'),
        url('../fonts/opensans/opensans-lightitalic-webfont.woff') format('woff'),
        url('../fonts/opensans/opensans-lightitalic-webfont.ttf') format('truetype'),
        url('../fonts/opensans/opensans-lightitalic-webfont.svg') format('svg');
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensans/opensans-bolditalic-webfont.eot');
  src: url('../fonts/opensans/opensans-bolditalic-webfont.eot') format('embedded-opentype'),
        url('../fonts/opensans/opensans-bolditalic-webfont.woff') format('woff'),
        url('../fonts/opensans/opensans-bolditalic-webfont.ttf') format('truetype'),
        url('../fonts/opensans/opensans-bolditalic-webfont.svg') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Overlock";
  src: url('../fonts/overlock/overlock-regular-webfont.eot');
  src: url('../fonts/overlock/overlock-regular-webfont.eot') format('embedded-opentype'),
        url('../fonts/overlock/overlock-regular-webfont.woff') format('woff'),
        url('../fonts/overlock/overlock-regular-webfont.ttf') format('truetype'),
        url('../fonts/overlock/overlock-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Overlock";
  src: url('../fonts/overlock/overlock-bold-webfont.eot');
  src: url('../fonts/overlock/overlock-bold-webfont.eot') format('embedded-opentype'),
        url('../fonts/overlock/overlock-bold-webfont.woff') format('woff'),
        url('../fonts/overlock/overlock-bold-webfont.ttf') format('truetype'),
        url('../fonts/overlock/overlock-bold-webfont.svg') format('svg');
  font-weight: bold;
}

@font-face {
  font-family: "Overlock";
  src: url('../fonts/overlock/overlock-italic-webfont.eot');
  src: url('../fonts/overlock/overlock-italic-webfont.eot') format('embedded-opentype'),
        url('../fonts/overlock/overlock-italic-webfont.woff') format('woff'),
        url('../fonts/overlock/overlock-italic-webfont.ttf') format('truetype'),
        url('../fonts/overlock/overlock-italic-webfont.svg') format('svg');
  font-weight: italic;
}

@font-face {
  font-family: "Overlock";
  src: url('../fonts/overlock/overlock-bolditalic-webfont.eot');
  src: url('../fonts/overlock/overlock-bolditalic-webfont.eot') format('embedded-opentype'),
        url('../fonts/overlock/overlock-bolditalic-webfont.woff') format('woff'),
        url('../fonts/overlock/overlock-bolditalic-webfont.ttf') format('truetype'),
        url('../fonts/overlock/overlock-bolditalic-webfont.svg') format('svg');
  font-weight: bold;
  font-style: italic;
}
