// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Buttons

@mixin button {
	color: $color__background-body;
	background: $brand_color_brown;
	padding: 0.75rem 1.5rem;
	border-radius: 5px;
	box-shadow: none;
	border: 0;
	font-size: 1em;
	text-shadow: none;

	&:hover {
		filter: brightness(2);
	}
}
