/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/*Products Page*/
.products-page h2{
  padding-top: 3rem;
}
.product-type {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  width: 75%;
  justify-content: center;
  margin: 0 auto;
  .categories {
    flex: 1 0 25%;
    padding: 1rem;
    a {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      img {
        width: 80%;
        height: 80%;
      }
      h3 {
        text-transform: uppercase;
        color: $brand_color_brown;
        text-align: center;
      }
    }
  }
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  .archive-product {
    flex: 1 0 25%;
    width: 25%;
    border: $border__solid;
    .product-info, span {
      font-family: Open Sans;
      margin: .25rem;
      display: flex;
      justify-content: space-around;
    }
    .entry-title:after {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: clip clip;
      // width: 25%;
      content: "....................";
    }
    .price, .entry-title {
      flex: 1 0 auto;
      white-space:nowrap;
    }
  }
}

/*Product Categories */
.product-category {
  border-bottom: $border__dashed;
}
.cat-type {
  display: flex;
  padding: 1rem 0;
  border-bottom: $border__dashed;
  img {
    width: 150px;
    height: 150px;
    padding-right: 2rem;
  }
}

/*Single Product */
.single-header h1 {
  margin-bottom: 1rem;
}
.single-price {
  font-weight: bold;
  font-family: Overlock;
  font-size: 1.5rem;
}

/* Contact page */
.type-page {
  h2 {
    color: $brand_color_mgrey;
  }
}

/*contact form*/
.wpcf7 {
  width: 750px;
  .wpcf7-form {
    font-weight: bold;
    color: $brand_color_mgrey;
    input, textarea{
      background: $color__background-screen;
    }
    .contact-info {
      display: flex;
      justify-content: space-between;
      .contact-name {
        margin-right: 1rem;
      }
      .contact-name input, .contact-email input{
        width: 100%;
      }
    }
    .subject input {
      width: 100%;
    }
    .wpcf7-submit {
      color: $color__background-body;
      background: $brand_color_brown;
      padding: .75rem 1.5rem;
      font-weight: normal;
      box-shadow: none;
      font-size: 1rem;
      border-radius: 5px;
      &:hover {
        box-shadow: none;
        filter: brightness(2);
      }
    }
  }
}

.wpcf7-not-valid-tip {
  font-weight: normal;
}

/* Search Page */
.search-page {
  .search-header {
    border-bottom: $border__dashed;
  }
  h2 {
    text-transform: none;
  }
  a {
    font-weight: bold;
  }
  article {
    padding-bottom: 1rem;
  }
}

/* 404 page */
.error-404 {
  color: $brand_color_mgrey;
  button.search-submit {
    @include button;
  }
  .search-form {
    color: $brand_color_mgrey;
    fieldset {
      border: none;
      padding: 0;
    }
    input {
      padding: .5rem;
    }
  }
}

/*Testimonial Page*/
.testimonial-header {
  border-bottom: $border__dashed;
}
  .archive-testimonial {
    text-align: center;
    .testimonial-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: left;
      padding-bottom: 2rem;
      .review {
        display: flex;
        flex: 1 0 100%;
        padding: 1.5rem 0;
        border-bottom: $border__dashed;
        // align-items: center;
      }
      img {
        height: 100px;
        width: 100px;
      }
      .review-info {
        list-style: none;
        padding: 0;
        padding-left: 1rem;
        .review-name h3 {
          font-size: 1.75rem;
          color: $brand_color_mgrey;
          margin: 0;
        }
        .job-title {
          margin: 1rem 0;
        }
      }
    }
  }
