/*--------------------------------------------------------------
# Posts
--------------------------------------------------------------*/

.single article, .blog article {
  padding-right: 3em;

    h2.entry-title {
      font-size: 1.7em;
      text-transform: none;
      margin: 0.5em 0 0;
    }
    .entry-content a {
      font-weight: 700;
    }
}

.entry-title {
  font-family: Overlock;
  margin: 0;
  a {
    color: $brand_color_red;
    &:hover {
      text-decoration: underline;
      color: $brand_color_brown;
    }
  }
}

.entry-meta {
  color: $brand_color_mgrey;
}

/*single posts */
.hentry .entry-title {
  text-transform: uppercase;
}

.entry-footer {
  span {
    margin-right: 1rem;
  }
}

.comments-area {
  .comment-reply-title {
    color: $brand_color_brown;
    font-size: 1.5rem;
  }
  .comment-form {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
  .comment-form-author, .comment-form-email {
    flex: 0 1 50%;
    flex-direction: row;
  }
  label {
    color: $brand_color_mgrey;
    font-weight: bold;
  }
  input, textarea {
    background: $color__background-screen;
  }
}
.form-submit input[type=submit] {
  @include button;
}
