/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.widget-area {
  flex: 1 0 25%;
  padding-left: 2rem;
  padding-top: 3rem;
}
